 body {
    background-color: darkred;
    background-color: lightblue;
 }
 
 nav {
    background-color: red;
    background-color: orange;
    height: 165px;
 }
 
 .card-panel {
    background-color: red;
    background-color: deepskyblue;
     color: black;
 }
 
 nav .brand-logo {
     color: black;
    text-align: center;
    font-family: cursive;
    font-size: 2rem;
    margin-left: 20px;
 }
 
 #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }

#logo {
    /*our name and descrition of who we are.*/
    text-align: center;
    margin: 0;
    margin-left: 50%;
    text-align: left;
    width: 65px;
    height: 75px;
 }
 
 .font {
        color: black;
    }
    color: black;
    max-width: 1000px;
}

.material-icons right {
    color: indianred;
}

button.btn.waves-effect.waves-light {
    color: black;
    background-color: orange;
}

.name-form {
    text-align: center;   
}

.h2 {
    font-family: cursive;
}
