 <template name="Applicationlayout">
    <head>
        <title>Chatworld</title>
         <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
 
     <body>
         <header>
            <a href="" id="logo"></a>
            <nav role="navigation">

                <div class="nav-wrapper container">
                    <a href="/" id="logo-container" class="brand-logo">Chatworld</a>
            <nav role="navigation"  class="nav-wrapper container">
                <img src="https://www.atssupplies.com/wp-content/uploads/2013/08/Web-Icons-Chat-Now.jpg" id="logo" />
                <div>
                    <a id="logo-container" class="brand-logo">Chatworld</a>

                     <ul class="right hide-on-med-and-down">
                         <li>{{> loginButtons align=right}}</li>
                     </ul>
                  </div>
                    </nav>
                </div>
             </nav>
         </header>
         {{> yield}}
     </body>
 </template>
         
         <template class="box" name="friends">
    <div class="container">
        <div class="section" style="width: 300px;">
            <div class="card-panel">
                <h2 class="txt">Friends list</h2>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                {{#each listUser}}
                <p id="userNameOnList"> {{username}}</p>
                {{/each}} {{> friends}}
            </tr>
        </thead>
    </table>
</template>